################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParaBankAtf/obj
/ParaBankAtf/bin
/ParaBankAts/.vs
/ParaBankAts/bin
/ParaBankAts/obj
/ParaBankAts/Features/*.feature.cs

/.vs
